<%# locals: (location:, broadcasted: false) %>

<tr id="<%= dom_id(location) %>"
    data-controller="location"
    data-location-target="location"
    data-action="click->location#selectLocation"
    data-location-lat-value="<%= location.lat %>"
    data-location-lon-value="<%= location.lon %>"
    data-location-broadcasted-value="<%= broadcasted  %>"
    class="location even:bg-gray-50 hover:bg-gray-100 cursor-pointer">
  <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500"><%= Time.at(location.tst) %></td>
  <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500"><%= location.lat %></td>
  <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500"><%= location.lon %></td>
  <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500"><%= location.battery_status %></td>
  <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500"><%= location.batt %></td>
  <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500"><%= location.internet_connectivity_status %></td>
  <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500"><%= location.ssid %></td>
  <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500"><%= location.monitoring_mode %></td>
  <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500"><%= location.t %></td>
  <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500"><%= location.poi %></td>
  <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500"><%= location.tag %></td>
  <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500"><%= location.inregions.join(", ") %></td>
</tr>
